.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form-check-input:checked {
    background-color: var(--bordo);
    border-color: var(--bordo);
}

#searchInput {
    color: var(--bordo);
    font-style: italic;
}
#filterBtn{
    margin-bottom: 3%;
}
#searchInput::placeholder {
    color: var(--douradinho);
    opacity: 0.7;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}