
.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brancoCorpo);
    z-index: 9999;
    pointer-events: none;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.page-transition.dark-mode {
    background-color: var(--cinza-escuro) !important;
}

.page-transition.active {
    transform: translateY(-100%);
    opacity: 0;
}

.transition-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: var(--brancoCorpo) !important;
    transform: translateY(100%);
    animation: pageOut 0.5s ease forwards;
}

.transition-out.dark-mode {
    background-color: var(--cinza-escuro) !important;
}

body.dark-mode .page-transition,
body.dark-mode .transition-out {
    background-color: var(--cinza-escuro) !important;
}