* {



    --bordo: #0D0D0D;
    --textWhite: #ffffff;
    --brancoCorpo: #0D0D0D;
    --douradinho: #f7bf07;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    font-style: italic;
}


body {

    color: var(--douradinho);
}

.logo {
    font-weight: 200;
}

.bg-bordo {
    background-color: var(--bordo);
}

.text-bordo {
    color: var(--textWhite);
}

.text-gold {
    color: var(--douradinho);
}

.border-gold {
    border-color: var(--douradinho) !important;
}

.btn-outline-gold {
    color: var(--douradinho);
    border: 2px solid var(--douradinho);
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-outline-gold:hover {
    background-color: var(--douradinho);
    color: var(--bordo);
}


.bg-light-gold {
    background-color: var(--brancoCorpo);
}

.feature-box h3 {
    font-weight: 700;
}

.textoMaior{
    font-size: 18px;
    font-weight: 500;
    color: #c7c7c7;
}